{% extends 'base.html' %}

{% block body %}

        <br>
<div class="col-md-9">
		<h3><strong>All Orders</strong></h3>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_order' %}">Create Order</a>
            <table class="table">
				<tr>
                    <th>ID</th>
					<th>Customers</th>
					<th>Car license plate</th>
					<th>Washers</th>
					<th>Wash Type</th>
                    <th>Start Date</th>
					<th>End Date</th>
					<th>Status</th>
				</tr>

				{% for order in orders %}
					<tr>
                        <td>{{ order.pk }}.</td>
						<td>{{ order.customer }}</td>
						<td>{{ order.car }}</td>
						<td><a href="{% url 'washer-detail' order.washer.id %}" class="btn">{{ order.washer }}</a></td>
						<td>{{ order.wash_type }}</td>
						<td>{{ order.order_start_date }}</td>
						<td>{{ order.order_end_date }}</td>
						<td>{{ order.status }}</td>
					</tr>
				{% endfor %}
			</table>
            <br>
        <strong>If you want to see our washers details, Please click on their names</strong>
		</div>
	</div>
</div>

{% endblock body %}