{% extends 'base.html' %}

{% block body %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form action="" method="POST" >
        {% csrf_token %}
        <br>
        <br>
        <div class="card card-body">
        <table>
            <tr>
                <th>Car</th>
                <th>Washer</th>
                <th>Wash Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Order Status</th>
            </tr>
            <tr>
                <th>{{ form.car }}</th>
                <th>{{ form.washer }}</th>
                <th>{{ form.wash_type }}</th>
                <th>{{ form.order_start_date }}</th>
                <th>{{ form.order_end_date }}</th>
                <th>{{ form.status }}</th>
            </tr>
        </table>
        </div>

        <input class="btn btn-success" type="submit" name="submit">
    </form>
{% endblock body %}