 div {
     text-align: center;
}
 .navbar-nav {
     flex-direction: row;
}
 .nav-link {
     padding-right: .5rem !important;
     padding-left: .5rem !important;
}
/* Fixes dropdown menus placed on the right side */
 .ml-auto .dropdown-menu {
     left: auto !important;
     right: 0px;
 }
     body{
    background-image: url('/static/images/background.jpg');
    background-repeat: no-repeat;
    background-size: 1500px 750px;
}
 .navbar {
    background: rgba(0,0,0,0.5);
  }
 .navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}